<!--home.ejs-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UPMS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<style>
    .spaceTitle {
        padding-bottom: 24px;
    }

    .spaceCard {
        padding-left: 6px;
        padding-right: 6px;
    }

    .spaceBody {
        padding-left: 30px;
        padding-right: 30px;
    }

    .spaceContent {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
</style>

<body class="spaceBody">
    <div class="columns">
        <div class=justify-content: space-around;>
            <div class="row">
                <div class="card-deck card-sm-gutters-3 d-block d-sm-flex">

                    <% programmes.forEach( function(programme) { %>

                        <% if(programme.programme) { %>
                            <% programme.programme.forEach( function(f) { %>
                                <%= programme.programme.rate %>
               
                                <% }); %>
                                    <% } %>

                                        <div class="card">
                                            <figure class="image is-4by3">
                                                <td><a href="<%= programme.programmewebsite %>">
                                                        <img style="object-fit:cover" src='<%= programme.imageurl %>' />
                                                    </a> </td>
                                            </figure>

                                            <div class="spaceContent">
                                                <div class="media-content">
                                                    <p class="title is-4">
                                                        <a href="/programme/read/<%= programme.id%>">
                                                            <strong>
                                                                <%= programme.programmename %>
                                                            </strong>
                                                        </a>
                                                    </p>
                                                </div>
                                                <p>
                                                    <%= programme.facultyname %>
                                                </p> <br>
                                                <p> Enrollment: <%= programme.enrollment %>
                                                </p>
                                            </div>
                                        </div>
                                        <br>

                                        <% }); %>
                </div>
            </div>
        </div>




    </div>
    </div>
</body>


</html>