<div class="container">
  <div class="columns">
    <div class="column">
      <div class=content is-medium>
        <ul>
          <td><a href="<%= programme.programmewebsite %>">
              <img style="object-fit:cover" src="<%= programme.imageurl %>" />
            </a> </td>

          <li><b>
              <%= programme.programmename %>
            </b>
          </li>
          <li><b>Faculty Name: </b>
            <%= programme.facultyname %>
          </li>

          <li><b>Enrollment:</b>
            <%= programme.enrollment %>
          </li>

          <li><b>Programme Objectives:</b>
            <%= programme.programmeobjectives %>
          </li>

          <li><b>Credits required for graduation:</b>
            <%= programme.credits %>
          </li>

          <li><b>Duration of Study:</b>
            <%= programme.duration %>
          </li>


        </ul>

        <td><a a class="button is-link" href="http://localhost:1337/programme/feedback/<%= programme.id %>">
            Give Feedback
          </a> </td>


        <a class="button is-warning" href="http://localhost:1337/programme/<%= programme.id %>/feedbacks">
          Feedback Result
        </a>

        <a class="button is-success" href="http://localhost:1337/programme/<%= programme.id %>/visualAnalysisPerProg">
          Visual Analysis per Programme
        </a>
        <br>
        <a class="button is-primary "
          href="http://localhost:1337/programme/<%= programme.id %>/feelingBarChart">
          Feeling on Programme Q1-10
        </a>
        <a class="button is-link " href="http://localhost:1337/programme/<%= programme.id %>/curriculumBarChart">
          Programme's curriculum Q11-18
        </a>

        <a class="button is-success is-rounded" href="http://localhost:1337/programme/partitionedBarChart">
          Programme links to career Q19-24
        </a>
        <!-- <form action="/programme/delete/<%= programme.id %>" method="POST"> -->
        <% if(req.session.role=="admin" ){ %>
          <button type="button" class="button is-danger"
            onclick="deleteProgramme('<%= programme.id %>')">Delete</button>
          <!-- </form> -->
          <% } %>

      </div>



    </div>
    <script>
      async function deleteProgramme(id) {
        var r = confirm("Confirm Delete?");

        if (r) {
          var response = await fetch("/programme/" + id, {
            method: "DELETE",
          });

          if (response.ok) {
            // var html = await response.text();
            //alert(html);
            alert("Programme deleted.");
            location.assign("/");

          } else {
            alert(response.status + ": " + response.statusText);
          }

        } else {
          alert("cancelled");
        }
      };
    </script>