<div class="container">
  <div class="columns">
    <div class="column">
      <div class=content is-medium>
        <ul>
          <td><a href="<%= programme.programmewebsite %>">
              <img style="object-fit:cover" src="<%= programme.imageurl %>" />
            </a> </td>

          <li><b>
              <%= programme.programmename %>
            </b>
          </li>
          <li><b>Faculty Name: </b>
            <%= programme.facultyname %>
          </li>

          <li><b>Enrollment:</b>
            <%= programme.enrollment %>
          </li>

          <li><b>Programme Objectives:</b>
            <%= programme.programmeobjectives %>
          </li>

          <li><b>Credits required for graduation:</b>
            <%= programme.credits %>
          </li>

          <li><b>Duration of Study:</b>
            <%= programme.duration %>
          </li>


        </ul>

        <td><a a class="button is-link" href="http://localhost:1337/programme/feedback/<%= programme.id %>">
            Give Feedback
          </a> </td>


        <a class="button is-warning" href="http://localhost:1337/programme/<%= programme.id %>/feedbacks">
          Feedback Result
        </a>

        <a class="button is-success" href="http://localhost:1337/programme/<%= programme.id %>/visualAnalysisPerProg">
          Visual Analysis per Programme
        </a>
        <br>


        <td><a a class="button is-link" href="http://localhost:1337/programme/<%= programme.id %>/worldcloud">
            WorldCloud
          </a> </td>


      


        <div class="select">
          <select name="facultyname" onchange="myFunction(this.value)" required>
              <option value="select">Select Question Area</option>
              <option value="programmeQ1-Q10">Q1-Q10</option>
              <option value="programmeQ11-Q18">Q11-Q18</option>
              <option value="programmeQ19-Q24">Q19-Q24</option>
          </select>
      </div>



        <a class="button is-primary " id="programmeQ1-Q10" style="display: none;"
          href="http://localhost:1337/programme/<%= programme.id %>/feelingBarChart">
          Feeling on Programme Q1-10
        </a>
        <a class="button is-link " id="programmeQ11-Q18" style="display: none;" href="http://localhost:1337/programme/<%= programme.id %>/curriculumBarChart">
          Programme's curriculum Q11-18
        </a>

        <a class="button is-success " id="programmeQ19-Q24" style="display: none;" href="http://localhost:1337/programme/<%= programme.id %>/careerBarChart">
          Programme links to career Q19-24
        </a>
        <!-- <form action="/programme/delete/<%= programme.id %>" method="POST"> -->
        <% if(req.session.role=="admin" ){ %>
          <button type="button" class="button is-danger"
            onclick="deleteProgramme('<%= programme.id %>')">Delete</button>
          <!-- </form> -->
          <% } %>

      </div>



    </div>
    <script>
      function myFunction(value) {
        document.getElementById(value).setAttribute('style','display: inline-block')
        if (value == "programmeQ1-Q10") {
          document.getElementById('programmeQ11-Q18').setAttribute('style','display:none')
          document.getElementById('programmeQ19-Q24').setAttribute('style','display:none')
        } else if ( value == "programmeQ11-Q18"){
          document.getElementById('programmeQ1-Q10').setAttribute('style','display:none')
          document.getElementById('programmeQ19-Q24').setAttribute('style','display:none')
        } else if (value == "programmeQ19-Q24"){
          document.getElementById('programmeQ1-Q10').setAttribute('style','display:none')
          document.getElementById('programmeQ11-Q18').setAttribute('style','display:none')
        } else if (value == "select"){
          document.getElementById('programmeQ1-Q10').setAttribute('style','display:none')
          document.getElementById('programmeQ11-Q18').setAttribute('style','display:none')
          document.getElementById('programmeQ19-Q24').setAttribute('style','display:none')
        }


        // var x = document.getElementById("programmeQ1-Q10");
        // if (x.style.display == "none") {
        //   x.style.display = "block";
        // } else {
        //   x.style.display = "none";
        // }
      }
    </script>
    <script>




      async function deleteProgramme(id) {
        var r = confirm("Confirm Delete?");

        if (r) {
          var response = await fetch("/programme/" + id, {
            method: "DELETE",
          });

          if (response.ok) {
            // var html = await response.text();
            //alert(html);
            alert("Programme deleted.");
            location.assign("/");

          } else {
            alert(response.status + ": " + response.statusText);
          }

        } else {
          alert("cancelled");
        }
      };
    </script>