<!--home.ejs-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UPMS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<style>
    .spaceTitle {
        padding-bottom: 24px;
    }

    .spaceCard {
        padding-left: 6px;
        padding-right: 6px;
    }

    .spaceBody {
        padding-left: 30px;
        padding-right: 30px;
    }

    .spaceContent {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
</style>
<div class="container" style="padding-top: 40px">

    <body class="spaceBody">
        <div class="columns is-multiline">


            <% feedbacks.forEach( function(feedback) { %>


                <div class="column is-half">

                    <div class="card">
                        <div class="media-content">

                            <p class="title is-4">
                                <strong>
                                    Name: <%= feedback.name %>
                                </strong>
                                </a>
                            </p>
                        </div>
                        <p>
                            Student ID: <%= feedback.studentID %>
                        </p> <br>
                        <p>
                            Email: <%= feedback.email %>
                        </p> <br>
                        <p>
                            Q1. I love the programme that I studied <%= feedback.q1love %>
                        </p> <br>
                        <p>
                            Q2. I studied related subjects in secondary school <%= feedback.q2related %>
                        </p> <br>
                        <p>
                            Q3. I can catch up the programme easily <%= feedback.q3catchup %>
     
                        </p> <br>
                        <p>
                            Q4. In the teaching process, I have made progress than before <%= feedback.q4progress %>
                        </p> <br>
                        <p>
                            Q5. I enjoyed what I learned in the programme <%= feedback.q5enjoy %>
                        </p> <br>
                        <p>
                            Q6. I don't feel pressured to take this programme <%= feedback.q6pressured %>
                        </p> <br>
                        <p>
                            Q7. I will recommend the programme to others <%= feedback.q7recommend %>
                        </p> <br>
                        <p>
                            Q8. I can develop my whole person development in the programme (E.g Communication skills, Time management) <%= feedback.q8wholeperson %>
                        </p> <br>
                        <p>
                            Q9. If I can choose again, I still want to study this programme <%= feedback.q9choose %>
                        </p> <br>
                        <p>
                            Q10. Overall, I feel joyful to study this programme <%= feedback.q10joyful %>
                        </p> <br>
                        <p>
                            Q11. Programme's instructions are clear and easy to understand <%= feedback.q11instructions %>
                        </p> <br>
                        <p>
                            Q12. I think the programme difficulty is moderate <%= feedback.q12difficulty %>
                        </p> <br>
                        <p>
                            Q13. I can adapt the programme curriculum easily <%= feedback.q13adapt %>
                        </p> <br>
                        <p>
                            Q14. I think the programme curriculum is well-structured <%= feedback.q14wellstructured %>
                        </p> <br>
                        <p>
                            Q15. I think the faculty provides enough resources for teaching <%= feedback.q15resources %>
                        </p> <br>
                        <p>
                            Q16. I am satisfied with the faculty members support <%= feedback.q16support %>
                        </p> <br>
                        <p>
                            Q17. I am satisfied with the faculty facilities including lab, study room <%= feedback.q17facilities %>
                        </p> <br>
                        <p>
                            Q18. Overall, I am satisfied with the content and curriculum of this programme <%= feedback.q18overall %>
                        </p> <br>
                        <p>
                            Q19. I think the programme objectives connect to the future career path <%= feedback.q19connect %>
                        </p> <br>
                        <p>
                            Q20. I believe a compulsory internship during the programme is good for future career <%= feedback.q20internship %>
                        </p> <br>
                        <p>
                            Q21. I believe what I learned in the programme can help in my career <%= feedback.q21help %>
                        </p> <br>
                        <p>
                            Q22. I believe the programme can provide the knowledge that applied in the workplace <%= feedback.q22knowledge %>
                        </p> <br>
                        <p>
                            Q23. I believe I will continue my career in this industry <%= feedback.q23career %>
                        </p> <br>
                        <p>
                            Q24. Overall, I think the programme is useful for the career <%= feedback.q24useful %>
                        </p> <br>

                    </div>


                </div>
            <% }); %>
        </div>


    </body>

</div>

</html>