<!--home.ejs-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UPMS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<style>
    .spaceTitle {
        padding-bottom: 24px;
    }

    .spaceCard {
        padding-left: 6px;
        padding-right: 6px;
    }

    .spaceBody {
        padding-left: 30px;
        padding-right: 30px;
    }

    .spaceContent {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
</style>

<body class="spaceBody">
    <div class="columns">
        <div class=justify-content: space-around;>
            <div class="row">
                <div class="card-deck card-sm-gutters-2 d-block d-sm-flex">

                    <% feedbacks.forEach( function(feedback) { %>

                       
                            <div class="card">

                                <div class="spaceContent">
                                    <div class="media-content">
                                        <p class="title is-4">
                                            <strong>
                                                Name: <%= feedback.name %>
                                            </strong>
                                            </a>
                                        </p>
                                    </div>
                                    <p>
                                        Email: <%= feedback.email %>
                                    </p> <br>
                                    <p>
                                        How would you rate your overall feeling with the programme? <%= feedback.rate %>
                                    </p> <br>
                                    <p>
                                        How satisfied are you with the curriculum of the programme? <%= feedback.satisfied %>
                                    </p> <br>
                                    <p>
                                        How would you rate the programme objectives connect to the future career path? <%= feedback.career %>
                                    </p> <br>
                                    <p>
                                        How satisfied are you with the programme's curriculum difficulty? <%= feedback.difficulty %>
                                    </p> <br>
                                    <p>
                                        How satisfied are you with the faculty members support? <%= feedback.support %>
                                    </p> <br>
                                    <p>
                                        Would you recommend the programme to others? <%= feedback.recommend %>
                                    </p> <br>
                                    <p>
                                        Feel: <%= feedback.feel %>
                                    </p> <br>
                                    <p>
                                        Share: <%= feedback.share %>
                                    </p> <br>
                                    <p>
                                        Comments: <%= feedback.comments %>
                                    </p> <br>


                                </div>


                            </div>
                          

                     <% }); %>


                </div>
            </div>
        </div>




    </div>
    </div>
</body>


</html>